
.article{
    z-index: 2;
    width: 94%;
    height: 29vh;
    border-radius: 1vw;
    align-content: center;
    margin: 1.5%;
    
    display: flex;
    padding: 1vw;

    gap: .5vw;
    
    box-sizing: border-box;
    
    box-shadow: 0px 3px 10px  #D9D9D9, 0px -1px 10px  #D9D9D9;
    border-style:none;
    border-color:transparent;

}

.article.load{
    background-image:linear-gradient(90deg,#F8F6F4 0%,#f7f7f7 20%, #e6dbdb 50%,#F8F6F4 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: articleLoading 2s linear infinite;
} 

.artPic{
    background-color: transparent;
    box-shadow: 0px 0px 5px #cccccc;
    padding: .5%;

    width:22%;
    height: 100%;
    border-radius: .9vw;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.artSum{
    background-color: transparent;
    box-shadow: 0px 0px 5px #cccccc;
    transition: .3s ease-in-out;

    width:78%;
    height: 100%;
    border-radius: .9vw;

    padding: 1%;

    display: grid;
    grid-template-areas:
        "title title"
        "date author"
        "desc desc";
    
    grid-template-columns: 19% 80%;
    grid-template-rows: 30% 20% 50%;
}

/* ARTICLE CONTENT SPECIFICS */
.article_pic{
    display: flex;
    justify-content: center;
    
    border-style: solid;
    border-color: transparent;
    overflow:hidden;
    object-fit: contain;

    width:fit-content;
    height: 100%;
    border-radius: .9vw;
    
}
.article_pic.errorPic{
    src: url(/public/ICONS/REY_NOTFOUND.png);
}

.article_headline{
    font-size: 1.6rem;
    font-weight: 5  00;
    font-family: "Inter" , serif;
    color: #1E0B0C;
    grid-area: title;
                                                                                                                                                            
    border-style: solid;
    border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: baseline;


}
.article_desc{
    font-family: "Source Sans 3", sans-serif;
    color: #1E0B0C;
    grid-area: desc;
        
    border-style: solid;
    border-color: transparent;
    line-height: 1.5;
    font-size: 1.03rem;
    
    display: flex;
    align-items: baseline;
    justify-content: baseline;

}
.article_date{
    font-family:"Source Sans 3", sans-serif;
    color: #923233;

    font-size: large;
    grid-area: date;

    border-style: solid;
    border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: start;


}
.article_author{
    font-family:"Source Sans 3", sans-serif;
    color: #923233;
    font-size: larger;
    grid-area: author;

    border-style: solid;
    border-color: transparent;

    display: flex;
    align-items: center;
    padding-left: 3%;
}

@keyframes articleLoading{
    0%{
        background-position: 300% 0;
    }
    100%{
        background-position: -150% 0;
    }

}