@import url(header.css);        
@import url(content.css);        
@import url(chatBot.css);   
@import url(footer.css);
/* @import url(footerDebug.css); */

/* MAIN COMPONENTS */
*{
    box-sizing: border-box;
    cursor: default;

    
}
/* *,
*::before,
*::after {
  outline: 2px solid rgba(0, 255, 0, 0.35);
} */


body{
    box-sizing: border-box;
    background-color:#F8F6F4;
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 0;    
    margin: 0;
    
    
}

.container{
    align-content: start;
    width: 100%;
    max-width: 100%;
    height: auto ;
    min-height: 0;
    max-height: none;
    display: grid;
    /* padding-top: 9vh; */
    grid-template-areas:
        "head head head"
        "side1 content side2"
        /* "pagi pagi pagi" */
        "MFoot MFoot MFoot"
        "foot foot foot";
    

    grid-template-columns:8% 84% 8%;
    grid-template-rows: 9vh auto 50vh 8vh;
    

}
header{
    position: fixed;

    height: 9%;
    width: 100%;

    z-index: 5;
    display: flex;
    box-shadow: 0px 0px .2px .5px #c4c1c1;
    background-color: #F8F6F4;

    padding: 0px;
    margin: 0px;
    flex: 1;

    grid-area: head;

    
    border-style:solid;
    border-color:transparent;
    border-width: .6px;

}
.side1{
    background:transparent;
    
    /* box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25); */
    grid-area: side1;   
    /* border-style:solid;
    border-color:yellowgreen; */
    
    
}
.contentContainer{
    
    
    grid-area: content;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    
    border-style:solid;
    border-color:transparent;
}
.side2{
    background-color:transparent;
    
     /* box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.25);     */
    grid-area: side2;
    /* border-style:solid; */
    /* border-color:yellowgreen;  */
    
}
/* AUSSC BACKDROP*/
#AU_SSCLogo{
    opacity: 0;
    filter: blur(2px);
    scale: 1.2;
    
    position: fixed;
    top: 13%;
    z-index: -1;

    justify-self: center;
    align-self: center;

    transition: .3s ease-in-out;
}
/* AUSSC BACKDROP*/
/* CONTENTS */


/* ARTICLE CONTENT SPECIFICS */

/*HEADER CONTENT*/
/* LOGO */


/* NAV */

/* AUSSC_LOGO */

/* .buttons:hover,:focus{
    background-color: #EFEAE6;
    transition: .2s ease;
    caret: none;
    cursor:pointer;
    user-select: none;

    box-shadow: 0px 0px 1px .1px rgba(0, 0, 0, 0.25);
    border-radius: .5vw;
    

    scale: .9;

} */
 /* .buttons:before{
    position: absolute;
    content:"";
    border-top-style: solid;
    bottom: 2vh;
    width: 0%;
    transition: ease-in-out .2s;
    
}
.buttons.active:before{
    width: 3em;
    transition: ease .3s;
    color: #622325;
}

.buttons:hover:nth-child(3):before{
    width: 5em;
    transition: ease .3s;
    color: #622325;
}

.buttons:hover:before{
    width: 3em;
    transition: ease .3s;
    color: #622325;
}
.buttons:hover{
    transition: ease .3s;
    color: #622325;
} */

/* SIDE PULL */

